---
layout: default
title: Social Media Proposal
ig-feed:
  - /images/ig-feed/front.png
  - /images/ig-feed/uluwatusurfvillas.png
  - /images/ig-feed/synkonah.png
  - /images/ig-feed/nude.png
images:
  - /images/elkabron-edit-2.jpg
  - /images/el-kabron3.jpg
  - /images/el-kabron4.jpg
  - /images/elkabron-edit-5.jpg
seo:
  meta-description: 
  meta-keywords:
  featured-image_path:
  hide-from-google: true

---
  <!-- Section #1 -->
  <section class="banner" style="background-image:url('/images/drone.png');background-position:bottom;">
    <div class="front">
       <h1> Social Media Management </h1>
       <h3> Content Creation Proposal </h3>
    </div>
    <a class="down-arrow" href="#section2">
      <img src="down-arrow-white.svg" />
    </a>
  </section>

  <!-- - - - Section #2 - - - - - - - - -->
  <section class="mini-banner" id="section2">
    <div class="col-12-middle">
      <h2 class="emphasis editable">
       We want to help transform your social media presence.
      </h2>
    </div>
    <a class="down-arrow" href="#section3">
      <img src="down-arrow.svg" />
    </a>
  </section>

<!-- - - - Section #3 - - - - - - - - -->
  <section id="section3" class="mini-banner tall grid no-padding featured">

    <div class="col-7_sm-12 bg-image" style="background-image:url('/images/pepito-2.jpg'); background-position:top;">
    </div>
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> We've got a vision.</h2>
      <br />
      <p> We want to help you showcase your brand as the most modern, and the best choice for your client. We'll help you reflect the incredible products you offer through your content and social media, and attract the right target audience. </p>
    </div>

    <a class="down-arrow" href="#section4">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #4 - - - - - - - - -->

  <section class="grid mini-banner" id="section4">

    <div class="col-4_sm-12">
      <h2 class="editable">WHO WE ARE </h2>

    </div>
    <div class="col-8_sm-12 editable">
      <p> Karen Gudmunds is a content creator, digital marketer, and web developer from Iceland that has helped many businesses attract their ideal client, and boost sales through their websites, social media and digital marketing. She helps brands capture the essence of their personality and really tell a story through her photography. </p>
      <p> Danielle Muntain is a content creator, digital marketer and influencer from Canada currently living in Los Angeles. With a background in fashion marketing, traveling the world and showcasing her message to encourage others to chase their dreams, is her greatest passion.
      <p> Together, we have worked with businesses all over the world, and are eager to help your business grow their online presence. </p>
    </div>
    <div class="col-4_sm-12 editable">
      <h2>Our Experience  </h2>
    </div>
    <div class="col-8_sm-12 editable">
      <p> We've worked with luxury hotels, villas, restaurants and bars around the world, as well as international fashion labels and product-based brands. Just to name a few ...</p>
      <ul>
         <li> Munduk Platatation Resort & spa  </li>
         <li> The Marriott Hotels  </li>
         <li> Lamborajo (Komodo Cruises)</li>
         <li> JW Marriott hotels  </li>
         <li> Daniel Wellington </li>
         <li> Victoria's Secret </li>
         <li> The Udaya </li>
         <li> Panorama Glass Lodge  </li>
         <li> Zero Waste Bali  </li>
         <li> Icelandic Provision  </li>
         <li> Carlabella (Fashion Brand) </li>
         <li> Bacara Pizza Restaurant  </li>
         <li> Wandrd </li>
      </ul>
    </div>

    <a class="down-arrow" href="#section5">
      <img src="down-arrow.svg" />
    </a>

  </section>

  <!-- - - - Section #6 - - - - - - - - -->

  <section id="section6" class="mini-banner tall grid no-padding mb-light featured">
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> We have the experience and enthusiasm to help you take your social media to the next level.</h2>
    </div>
  <div class="col-7_sm-12 bg-image" style="background-image:url('/images/el-kabron2.jpg'); background-position:bottom;">
  </div>

  <a class="down-arrow" href="#section7">
    <img src="down-arrow-white.svg" />
  </a>

  </section>

  <!-- - - - Section #7 - - - - - - - - -->

  <section id="section7" class="mini-banner grid padded-b-0">


    <div class="col-4_sm-12">
      <h2 class="editable">Our Pitch </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p> We offer full-service content creation and social media management to help you build a strong digital and social media presence for each of your brand.  </p>
        <ul>
          <li> Content Creation & Instagram Grid <br> <em> $1400 per month</em> </li>
          <li> Social Media Scheduling <br> <em> + $1250 per month </em> </li>
          <li> <em> Rates are monthly, and per brand. </em> </li>
        </ul>
    </div>
    <div class="col-4_sm-12">
      <h2 class="editable"> Content Creation </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p> Each month we will capture professional photos and short videos to provide enough content for you to fill your social media and website, and reflect the premier quality and variety of the your brand. This package includes full planning and co-ordination of each shoot, the photography itself and professional editing to suit your aesthetic. </p>
        <ul>
          <li> 1x photoshoot per month with photography assistant </li>
          <li> Up to 30 high resolution edited photos (enough for 1 month worth of content)</li>
          <li> Putting together a curated instagram grid aesthetic, using the content provided. </li>
        </ul>
    </div>
    <div class="col-4_sm-12">
      <h2 class="editable">Social Media Scheduling </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p> Each month we would take the content we have shot and schedule it all for you in an instagram management tool (we recommend Later) creating a beautiful cohesive grid, and scheduling the posts at times where your audience is highly engaged. Then we would write engaging captions (in perfect english!), and add relevant hashtags and location tags.  </p>
        <p> We'll take into account current promotions, marketing strategies and featured products as well as the overall goals of each brand. </p>
        <ul>
          <li> 30 posts per month scheduled to both Facebook & Instagram </li>
          <li> Writing engaging captions </li>
          <li> Relevant hashtags & location tags </li>
          <li> Scheduled for automatic posting at key times</li>
        </ul>
    </div>
  </section>


  <section>
    <!--- - - - - - - - - -->
    <h2 class="margin-t-0"> Why Work with us </h2>
    <hr />
    <p> <span>Let us connect you to the world: </span> Social media marketing is an incredible tool to reach your target market on a global scale.</p>
  
    <p> <span>Creative direction:</span> Storytelling and content creation is the optimal way of cultivating what message ypu are wanting to share with the world. </p>
  
    <p> <span>Influencer marketing:</span> Let us connect you to specific target audiences that our top influencers have cultivated through their organic community within your niche. </p>
    
    </section>

  <section class="featured popup-gallery gallery grid padded">

    <div class="col-12 centered">
        <h2> Past Projects </h2>
    </div>

    {% for image in page.ig-feed limit:4 %}

    <div class="col-3_xs-6 padded-1">
      <a href="{{image}}">
        <img src='{{image}}'>
      </a>
    </div>

    {% endfor %}

    {% for image in page.ig-feed offset:4 %}
    <a href="{{image}}"></a>
    {% endfor %}

  </section>



  <section class="no-padding gallery grid">

    {% for image in page.images %}

    <div class="col-3_xs-6">
      <div class="bg-image" style="background-image:url('{{image}}')"></div>
    </div>

    {% endfor %}

  </section>
