---
layout: default
title: Social Media Proposal
ig-feed:
  - /images/ig-feed/front.png
  - /images/ig-feed/uluwatusurfvillas.png
  - /images/ig-feed/synkonah.png
  - /images/ig-feed/nude.png
images:
  - /images/elkabron-edit-2.jpg
  - /images/el-kabron3.jpg
  - /images/el-kabron4.jpg
  - /images/elkabron-edit-5.jpg
seo:
  meta-description: 
  meta-keywords:
  featured-image_path:
  hide-from-google: true

---
  <!-- Section #1 -->
  <section class="banner" style="background-image:url('/images/Ulekan-10.JPG');background-position:bottom;">
    <div class="front">
       <h1> Samfélagsmiðla </h1>
       <h3> kennsla & ljósmyndun </h3>
    </div>
    <a class="down-arrow" href="#section2">
      <img src="down-arrow-white.svg" />
    </a>
  </section>

  <!-- - - - Section #2 - - - - - - - - -->
  <section class="mini-banner" id="section2">
    <div class="col-12-middle">
      <h2 class="emphasis editable">
        Það er tími til að taka næsta skref, og langar mig að aðstoða þig við að gera þinn veitingarstað sýnilegri á stafrænum markaði. 
      </h2>
    </div>
    <a class="down-arrow" href="#section3">
      <img src="down-arrow.svg" />
    </a>
  </section>

<!-- - - - Section #3 - - - - - - - - -->
  <section id="section3" class="mini-banner tall grid no-padding featured">

    <div class="col-7_sm-12 bg-image" style="background-image:url('/images/Ulekan-30.JPG'); background-position:middle;">
    </div>
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable text-small"> Ég er með hugmynd.  </h2>
      <br />
      <p> Mig langar að hjálpa þér að sýna vörumerkið þitt á sem nútímalegasta og besta mögulega fyrir viðskiptavininn þinn. Ég hjálp þér/ykkur að endurspegla þá girnilegu rétti og drykki sem þú býður þínum viðskiptavinum uppá í fallegum ljósmyndun og vel uppsettu samfélagsmiðla efni til að laða að réttan markhóp. 
      </p>
    </div>

    <a class="down-arrow" href="#section4">
      <img src="down-arrow-white.svg" />
    </a>

  </section>

  <!-- - - - Section #4 - - - - - - - - -->

  <section class="grid mini-banner" id="section4">

    <div class="col-4_sm-12">
      <h2 class="editable"> Hver er ég? </h2>

    </div>
    <div class="col-8_sm-12 editable">
        <p> Ég heiti Karen Guðmunds, með sannkallað ferðablóð og sannur bogmaður (sem getur ekki verið kyrr á einum stað í lengri tíma), ferðaáhugamaður, frumkvöðull, ljósmyndari, rósavíns unnandi, dreymandi, A týpa, skipulögð af þráhyggju og sólarástunandi! </p>
      <p> Starfa sem ljósmyndari, vefsíðuhönnuður, stafrænn efnishöfundur og samfélagsmiðlasérfræðingur með ástríðu fyrir útiveru og ferðalögum um heiminn. Ég elska að hjálpa vörumerkjum að ná kjarna persónuleika þeirra og segja sögu í gegnum vinnuna mína. Ég elska líka að hjálpa öðrum að láta drauma sína rætast.  </p>
      <p> Ég hef brennandi áhuga á að hjálpa einstaklingum og fyrirtækjum að efla viðskipti á netinu, með fallegum ljósmyndun og skemmtilega uppsettu samfélagsmiðla plani. Með samstilltum aðferðum er ég hér til að aðstoða þig að láta alla starfræn markmið rætast. </p> 
    </div>
    <div class="col-4_sm-12 editable">
      <h2> Mín reynsla  </h2>
    </div>
    <div class="col-8_sm-12 editable">
      <p> Ég hef unnið með lúxus hótelum, fallegum villum á Bali, veitingarstaði bæði á íslandi sem og á Bali. Nefni nokkur fyrirtæki.... </p>
      <ul>
         <li> Munduk Platatation Resort & spa  </li>
         <li> The Marriott Hotels  </li>
         <li> Lamborajo (Komodo Cruises)</li>
         <li> Panorama Glass Lodge  </li>
         <li> Zero Waste Bali  </li>
         <li> Icelandic Provision  </li>
         <li> Carlabella (Fashion Brand) </li>
         <li> Bacara Pizza Restaurant  </li>
         <li> Ulekan Restaurant  </li>
         <li> Villa Deeksha Bali  </li>
         <li> Casa Nomada Villa Bali  </li>
         <li> KH Klúbbhús </li>
      </ul>
    </div>

    <a class="down-arrow" href="#section5">
      <img src="down-arrow.svg" />
    </a>

  </section>

  <!-- - - - Section #6 - - - - - - - - -->

  <section id="section6" class="mini-banner tall grid no-padding mb-light featured">
    <div class="col-5_sm-12-middle padded">
      <h2 class="emphasis editable"> Ég hef mikla þekkingu, reynslu og eldmóð til að aðstoða þig að taka samfélagsmiðla þína á annað level. 
      </h2>
    </div>
  <div class="col-7_sm-12 bg-image" style="background-image:url('/images/el-kabron2.jpg'); background-position:bottom;">
  </div>

  <a class="down-arrow" href="#section7">
    <img src="down-arrow-white.svg" />
  </a>

  </section>

  <!-- - - - Section #7 - - - - - - - - -->

  <section id="section7" class="mini-banner grid padded-b-0">


    <div class="col-4_sm-12">
      <h2 class="editable"> Samfélagsmiðla kennsla </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p>  Ég býð uppá mánaðar samfélagsmiðla kennslu til að aðstoða þig að byggja upp sterka stafræna og samfélagsmiðla viðveru á netinu fyrir fyrirtæki þitt. Ég starfa einnig sem heimasíðu forritari, og mun líka skoða heimasíðu fyrirtækisins og koma með punkta um það sem ég myndi laga, breyta eða bæta við til að hafa heimasíðuna sem mest heillandi fyrir komandi viðskiptavini. </p>
        <h4>  Hvað er innifalið í mánaðar samfélagsmiðla kennslu pakka: </h4>
        
        <ul>
          <li> 4x persónuleg kennsla (1x tímar í senn) <br> </li>
          <li> Uppsetning á samfélgagsmiðlum (ef ekki til staðar) <br> </li>
          <li> Bio lagað og fínpússað </li>
          <li> 15x faglegar ljósmyndir   </li>
          <li> Uppsetning á Instagram feed-i fyrir næsta mánuð. (15x póstar)   </li>
          <li> Uppsetning á Instagram story fyrir næsta mánuð.  (15x póstar)   </li>
          <li> Heimasíðu skoðun og punktar til breytingar </li>
          <br>
          <h4>  Verð: 199.900kr </h4>
        </ul>
    </div>

    <!-- <div class="col-4_sm-12">
      <h2 class="editable"> Content Creation </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p> Each month we will capture professional photos and short videos to provide enough content for you to fill your social media and website, and reflect the premier quality and variety of the your brand. This package includes full planning and co-ordination of each shoot, the photography itself and professional editing to suit your aesthetic. </p>
        <ul>
          <li> 1x photoshoot per month with photography assistant </li>
          <li> Up to 30 high resolution edited photos (enough for 1 month worth of content)</li>
          <li> Putting together a curated instagram grid aesthetic, using the content provided. </li>
        </ul>
    </div> -->
    <div class="col-4_sm-12">
      <h2 class="editable">Samfélagsmiðla áætlun </h2>
    </div>
    <div class="col-8_sm-12 editable">
        <p>  Ég mun setja saman efnið (ljósmyndir) sem ég tók og skipuleggja það allt fyrir þig til póstunar á Instagram (næsti mánuður), notum Later til að skipuleggjan heilan mánuð fram í tímann, með því þarft þú ekki að hafa neinar áhyggjur að pósta á samfélagsmiðla fyrir heilan mánuð.  </p>
        <ul>
          <li> 15 póstar sem póstast bæði á Facebook & Instagram. </li>
          <li> Skrifa viðeigandi captions.  </li>
          <li> Rétt # (villumerki) og staðsetningar tag. </li>
          <li> Áætlað fyrir sjálfvirka póstun á færslu á lykiltímum.  </li>
        </ul>
    </div>
  </section>


  <section>
    <!--- - - - - - - - - -->
    <h2 class="margin-t-0"> Afhverju að læra á samfélagsmiðla frá mér </h2>
    <hr />
    <p> Það er óþarfi að fara í stórar og kostnaðarsamar auglýsingaherferðir til að markaðssetja þig og þína vörur á netinu. Notaðu samfélagsmiðla, persónuleika fyrirtækisins og persónuleg samskipti til að koma þínum <br> veitingarstað á framfæri.  </p>
  
    <p class="justify"> Ég er með mikla reynslu í stafrænni markaðssetningu bæði hérlendis fyrir sem erlendan markað og þá sérstaklega bandaríska og Indóneskan markaðinn, þekki vel inná áhrifavalda markaðssetningu erlendis og hvernig best er að nýta sér þá markaðssetningu til að koma vöru og fyrirtæki á framfæri. Ég er einning með margra ára reynslu í hótel og veitingarbransanum bæði hérlendis og erlendis. Útskrifuð sem hótel og veitingarstjóri frá háskóla í Bandaríkjunum og hef því mikla þekkingu á því hvað þarf að hafa sýnilegt til að koma veitingarstað á framfæri.  </p>
  

    
    </section>

  <section class="featured popup-gallery gallery grid padded">

    <div class="col-12 centered">
        <h2> Síðustu verkefni </h2>
        <p> Ljósmyndun og uppsetning á fallegu Instagram reikning sem heillar viðskiptavini </p>
    </div>

    {% for image in page.ig-feed limit:4 %}

    <div class="col-3_xs-6 padded-1">
      <a href="{{image}}">
        <img src='{{image}}'>
      </a>
    </div>

    {% endfor %}

    {% for image in page.ig-feed offset:4 %}
    <a href="{{image}}"></a>
    {% endfor %}

  </section>



  <section class="no-padding gallery grid">

    {% for image in page.images %}

    <div class="col-3_xs-6">
      <div class="bg-image" style="background-image:url('{{image}}')"></div>
    </div>

    {% endfor %}

  </section>
